@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS starts here*/



html{
	/* background:url(https://a-static.besthdwallpaper.com/attack-on-titan-colossal-titan-wallpaper-1366x768-18733_46.jpg);
	box-sizing:border-box;
	background-position:center;
	background-size:100% 100%; */
	background:black;
    margin: 3%;
    height: 200vh;
}
body{
	display:flex;
	align-content:center;
	flex-direction:column;
	border:1px solid black;
	height:100%;
	font-family: 'Syne Mono', monospace;
	color:white;
}
.intro{
	background:#14213d;
	display:flex;
	width:100%;
	height:40vh;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	justify-content:space-evenly
}
.intro p{
	width:85%;
	height:20%;
	font-size:14px;
}
h1{
	font-family: 'Bungee Inline', cursive;
	font-size: 4rem;
	text-shadow:2px 2px rgb(250, 248, 248);
	color:#ff9d00;
}
h2{
	font-size:2rem;
}
.homenav {
	display:flex;
	/* border: 1px solid black; */
	width:25%;
	justify-content:space-evenly;
}
a.navlink{
	border:2px solid white;
	padding:12px;
	color:white;
	border-radius:8px;
	text-decoration:none;
	transition:0.3s;
	font-size:1.2rem;
	transform:scale(1,1);
}
a.navlink:hover{
	background: #ff9d00;
	color:white;
	transform:scale(1.1,1.1);
}
section{
	/* border:1px solid black; */
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	width:100%;
}
.box2{
	display:flex;
	height:40%;
}
.neyland{
	background:url(https://cutewallpaper.org/21/university-of-tennessee-football-wallpaper/Big-Orange-Tix-The-University-of-Tennessee,-Knoxville.jpg);
	background-size:100%;
	background-position:center;
	width:100%;
	box-sizing:border-box;

}
.box3{
	background: #ff9d00;
	/* border:1px solid black; */
	display: flex;
	flex-direction:row;
	height:50%;
	align-items:center;
	justify-content: flex-start;
	justify-content: space-evenly;
}
.projects{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	/* border:1px solid black; */
	border-radius:10px;
	height:90%;
	width:15%;
}
.aboutprojects{
	display:flex;
	/* border:1px solid black; */
	height:80%;
	width:20%;
	align-items:center;
	justify-content: center;
}
.homefooter{
	background:#14213d;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	justify-content:space-evenly;
	width:100%;
	height:12%;
}
.homefooter p{
	font-size:1.8rem;
}
.image{
	background:url(https://picsum.photos/150);
	background-position:center;
	box-sizing:border-box;
	background-size:100%;
	display:flex;
	border:1px solid black;
	border-radius:10px;
	justify-content:center;
	align-items:center;
	height:25%;
	transition:0.3s;
}
.image:hover{
	transform:scale(1.1,1.1);
}
a.pjlink{
	padding:30% 36% 30% 36%;
	opacity:0;
	transition:0.3s;
	text-decoration:none;
}
a.pjlink:hover{
	opacity:1;
	transform:scale(1.5,1.5);
	color:white;

}
.aboutprojects p{
	font-size:1.5rem;
	/* border: 1px solid black; */
	width:100%;
	height:40%;

}
.socialmedia a{
	color:white;
	border:1px solid white;
	padding:5px;
	border-radius:6px;
	transition:0.3s;
}
.socialmedia a:hover{
	background: #ff9d00;
}